
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  background: #000000;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}
input {
  font-family: 'Montserrat Alternates', sans-serif;
}
button {
  font-family: 'Montserrat Alternates', sans-serif;
}
img {
  width: 100%;
}
.container {
  max-width: 1224px;
  min-height: 100vh;
  padding: 7rem 1.5rem 0 1.5rem;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}
.title span {
  color:  #b87333;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 5px;
}
.title h1 {
  color: #fff;
  font-size: 3rem;
  position: relative;
}
@media screen and (max-width: 500px) {
  .container {
    padding: 7rem 1rem 0 1rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .h1 {
    font-size: 1.5rem;
  }
}

.typewriter {
  font-size: 5rem;
  font-weight: 600;
  color:  #b87333;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .typewriter {
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .typewriter {
    font-size: 1.5rem;
  }
}
